.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .scroll-to-top i {
    font-size: 40px;
    color: #9c836b;
  }
  
  .scroll-to-top:hover i {
    color: #7d6554;
  }
  
  .scroll-to-top.show {
    display: block;
  }