#sobre-mi .card {
    max-width: 100%;
    max-width: 1210px;
    background: #fdf6e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 4rem 0;
    padding: 20px;
  }
  
  #sobre-mi .card h2 {
    font-size: 2rem;
    color: #4a403a;
    margin-bottom: 10px;
  }

  #sobre-mi .card .card-content {
    display: flex;
    align-items: center;
  }
  
  #sobre-mi .card .card-content .profile-img {
    width: 80%;
    max-width: 300px;
    border-radius: 15%;
  }
  
  #sobre-mi .card .card-content .text-content {
    width: 100%;
    max-width: 1000px;
  }
    
  #sobre-mi .card .card-content .text-content p {
    color: #6d5c4d;
    font-size: 1rem;
  }
  