@import "headers.css";
@import "sobre-mi.css";
@import "proyectos.css";
@import "habilidades.css";
@import "peliculas.css";

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 20px;
  background-color: #f0ebe1;
  color: #4a403a;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 1250px;
}

form {
  background: #fdf6e3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
}

input,
button {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #b89b7a;
  border-radius: 5px;
  width: 100%;
}

button {
  background: #9c836b;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #7d6554;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f4e1;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
}
