@import "headers.css";
@import "sobre-mi.css";
@import "proyectos.css";
@import "habilidades.css";
@import "peliculas.css";
@import "contacto.css";
@import "scroll.css";

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 20px;
  background-color: #f0ebe1;
  color: #4a403a;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 1250px;
}

div:where(.swal2-container) div:where(.swal2-popup){
  background-color:  #fdf6e3 !important;
  color: #4a403a !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm){
  background-color: #9c836b !important;
  color: #fff !important;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f4e1;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
}

footer .social-links {
  margin-top: 10px;
}

footer .social-links a {
  margin: 0 10px; 
  display: inline-block;
}

footer .social-links img {
  width: 30px; 
  transition: transform 0.3s ease-in-out;
}

footer .social-links img:hover {
  transform: scale(1.2);
}
